<!--FontAwesome-->
<link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
<!--/FontAwesome-->

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img alt="logo" src="/assets/images/logo.png">
            </a>
        </div>
    </div>
</nav>

<div class="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">@PSL - Interview Helper</h1>
            <p class="lead text-center"><strong>1.</strong>Select a <strong>.JSON</strong> file: </p>

            <div class="input-group json">
                <input type="text" class="form-control json-filename" disabled="disabled">
                <div class="input-group-btn">
                    <div class="btn btn-default json-input">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        <span class="json-input-title">Browse</span>
                        <input type="file" 
                               id="myFileInputField" 
                               ([ngModel])="data" 
                               name="data" 
                               (change)="ngOnChanges($event)">
                    </div>
                </div>
            </div>

            <br>
            <button class="btn btn-default btn-block" 
                    (click)="print()">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
            </button>
        </div>
    </div>

    <div class="hide" id="text_helper"></div>
    
    <div class="jumbotron jumbotron-fluid step2 hide">
    <div class="container">
        <div class="row">
            <p class="lead text-center"><strong>2.</strong>Select desired <strong>topics</strong>: </p>
            <div *ngFor="let key of keys">
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input #cb1 class="styled" 
                                   type="checkbox" 
                                   (change)="logCheckbox(cb1)" 
                                   value="{{ key }}">
                                   {{ key | uppercase }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-default btn-block"
                      (click)="generate()">
                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i> Generate
        </button>
    </div>
    </div>



     <div class="container">
          <form class="form-horizontal"
              novalidate
              (ngSubmit)="onSubmit(controlForm)"
              #controlForm="ngForm">

              <div *ngFor='let container of questionContainer, let i=index'>

                <span class="badge" style="margin-bottom: -20px; background-color: #000">
                {{ container.key | uppercase}}
                </span>

                <div class="checkbox pull-right">
                <label>
                <input  class="styled" 
                        type="checkbox"
                        [(ngModel)]=questionContainer[i].checked
                        name="checkedVar"
                        #checkedVar="ngModel" >
                </label>
                </div>

                <div class="comment-block">
                <p class="comment-text"> 
                {{ questionContainer[i].question.question }}
                </p>
                <div class="bottom-comment">
                <ul class="comment-actions">
                    <li class="complain" role="button" data-toggle="collapse" 
                        attr.href="#collapse-answer{{i}}" 
                        aria-expanded="false" 
                        attr.aria-controls="collapse-answer{{i}}">
                        Answer
                    </li>
                    <li class="reply" role="button" data-toggle="collapse" 
                        attr.href="#collapse-hint{{i}}" 
                        aria-expanded="false" 
                        attr.aria-controls="collapse-hint{{i}}">
                        Hint
                    </li>
                    <li class="reply" role="button" data-toggle="collapse" 
                        attr.href="#collapse-nested{{i}}" 
                        aria-expanded="false" 
                        attr.aria-controls="collapse-nested{{i}}">
                        Nested
                </ul>
                </div>
                </div>

                <br>

                <div class="collapse" id="collapse-answer{{i}}">
                <div class="well">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 
                    {{ questionContainer[i].question.answer }}
                </div>
                </div>
                <div class="collapse" id="collapse-hint{{i}}">
                <div class="well">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> 
                    {{ questionContainer[i].question.hint }}
                </div>
                </div>
                <div class="collapse" id="collapse-nested{{i}}">
                <div class="well">
                    <i class="fa fa-question-circle" aria-hidden="true"></i> 
                    {{ questionContainer[i].question.nested[0].question }}
                    <br>
                    <i class="fa fa-plus-square" aria-hidden="true"></i> 
                    {{ questionContainer[i].question.nested[0].hint }}
                </div>
                </div>
                <div *ngIf="container.checked">
                <div class="well">
                    <label for="usr">Response: </label>
                           <textarea class="form-control" 
                               type="text" 
                               required 
                               rows="5"
                               name="questionVar"
                               [(ngModel)]=questionContainer[i].question.response
                               #questionVar="ngModel">
                            </textarea>
                </div>
                </div>

                <hr>
              </div>
          </form>
       {{ questionContainer | json}}
    </div>
</div>

